# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.vs

*.bak
/out
/artefacts
/logs
/enc_temp_folder
/docs/html
/build
/apps/cartpole2/mlruns
/apps/cartpole2/runs
/apps/cartpole2/runs_bk
/apps/cartpole2/bin
/apps/cartpole2/logs
/apps/lunarlander1/runs
/apps/lunarlander1/logs
/apps/lunarlander1/runs_
