# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.vs

*.bak
/out
/artefacts
/logs
/enc_temp_folder
/docs/html
/build
/build_
/apps/cartpole2/mlruns
/apps/cartpole2/runs
/apps/cartpole2/runs_bk
/apps/cartpole2/bin
/apps/cartpole2/logs
/apps/lunarlander1/logs
/apps/lunarlander1/runs*
/third_party/box2d-2.4.2/build
/apps/runner/logs
/apps/runner/runs*
/apps/runner/src/RC*
/dist
/docs/*.lock
/apps/runner/runname.txt
/.claude/worktrees
/.claude/settings.local.json
/core/anet-core/bin/Debug/out
/core/anet-core/bin/Release/out
/core/anet-core/bin/RelWithDebInfo/out
/apps/runner/tools/__pycache__
/docs/xml
/apps/Servers
/apps/.metadata
